 /* mail list */

 .mail {
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-block-end: 1px solid #ccc;
   padding: 1em;
   cursor: pointer;
 }

 .mail-box {
   text-align: center;
 }

 .mails {  
   flex-grow: 1;
   padding: 0.5em;
 }

 ul {
   list-style-type: none;
   padding: 0;
   margin: 0;
 }

 .innerBox {
   display: flex;
   align-items: center;
   width: 300px;
   overflow-x: hidden;
 }

 .innerBox button {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0;
   background-color: transparent;
 }

.email-text{
  font-family: Arial, sans-serif;
}

.email-header,
.email-address{
  font-family: 'Roboto', sans-serif;
}

 .starred {
   color: goldenrod;
 }

 .mail-buttons {
   display: flex;
 }

 .mail-buttons button {
   background-color: transparent;
   padding: 10px;
   border-radius: 10px;
 }

 .mail-buttons button:hover {
   background-color: #f2f2f2;
 }

 .not-read{
  font-weight: bold;
 }

 .mail-line{
  width: 100%;
 }

 .mail-filter{
   height: 40px;
   width: auto;
   margin: 0;
   padding: 8px;
   margin-block-end: 8px;
 }

 .mail-info{
  display: flex;
  justify-content: space-between;
  width: 100%;
 }
