 /* mail list */
 .mail{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border:1px solid black;
 }
 .mail-box{
   padding: 10px;
 }
 .mails{
   width: 100%;
   text-align: center;
 }
ul{
  list-style-type: none;
  padding: 10px;
}
 .innerBox{
    display: flex;
 }
 .innerBox button{
    background-color: white;
    border: 0;
 }
 .starred{
   color: goldenrod;
 }