 /* mail list */
 .mail{
    display: flex;
    justify-content: space-between;
    border:1px solid black;
 }
 .mail-box{
   padding: 10px;
 }
 .innerBox{
    display: flex;
 }
 .innerBox button{
    background-color: white;
    border: 0;
 }