@media (min-width:1200px) {
    .mailbox-chooser {
        display: flex;
        flex-direction: column;
        width: 150px;
        height: 100%;
    }
}


.mailbox-chooser {
    
    background-color: #F1F3F4;
    border-right: 1px solid #ccc;
}
.mailbox-chooser button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    height: 40px;
    background-color: #F1F3F4;
    padding: 10px;
    font-size: 16px;
}

.mailbox-chooser button:hover,
.chosen {
    background-color: #7d7e81;
}