.book-details {
    align-items: center;
    padding: 20px;
    color: #001F3F;
}

.book-details h1 {
    font-size: 32px;
}

.book-details h1,
.book-details h2 {
    margin: 10px 0;
    font-family: 'Oswald', sans-serif;
}

.book-details h3,
.book-details h4 {
    margin: 5px 0;
    font-family: 'Oswald', sans-serif;
}

.book-details p,
.book-description {
    margin: 5px 0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.on-sale {
    color: gold;
    font-weight: bold;
    margin-top: 10px;
}

.book-details img {
    min-width: 400px;
    max-width: 500px;
    margin: 20px 0;
    border: 1px solid #2b2a2a;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.book-details button {
    padding: 10px 20px;
    background-color: #FFC1A1;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.book-details button:hover {
    background-color: #FF7043;
}

.navigation-buttons {
    display: flex;
}

.navigation-buttons button {
    background-color: #0288D1;
}

.navigation-buttons button:hover {
    background-color: #013c57;
    color: var(--gray1);
}