.about {
    align-items: center;
    padding: 20px;
    color: #001F3F;
    background-color: #a2e2fb;
    font-family: 'Oswald', sans-serif;
}

.about-text {
    line-height: 1.5;
    width: 100%;
    max-width: 600px;
}

.about-text h1 {
    font-size: 30px;
    border-bottom: 2px solid #0a0b66;
    margin: auto;
    margin-bottom: 2vh;
    margin-top: 2vh;
    width: fit-content;
}

.about-text h2 {
    margin-bottom: 1vh;
    font-size: 24px;
}

.about-text h4 {
    margin-bottom: 1vh;
    font-size: 18px;
}

.team-layout {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.team-member {
    flex: 1;
    margin: 10px;
    background-color: #70c9f4;
    border-radius: 25px;
    width: 100%;
    max-width: 900px;
}

.team-member img {
    width: 90%;
    height: 55%;
    border-radius: 25px;
    margin-bottom: 5vh;
}

.team-links {
    display: flex;
    justify-content: center;
    gap: 15px;
    transition: color 0.5s;
}

.team-links a {
    font-size: 35px;
}

.team-links a i:hover{
    color: white
}

.button1 {
    color: #a2e2fb;
    background-color: #a2e2fb;
    border: 0;
}

.button1:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
}

.button2:hover {
    color: red;
}

.hidden {
    display: none;
}

.fifth:hover {
    color: rgb(37, 37, 37);
}

.about img{
    height: 250px;
    width: 250px;
}