.section{
    height: 1200px;
}

.button1{
    color: white;
    background-color: white;
    border: 0;
}

.button1:hover{
    color: black;
    background-color: white;
    border: 1px solid black;
}

.button2:hover{
    color: red;
}

.hidden{
    display: none;
}

.fifth:hover{
    color: rgb(37, 37, 37);
}

.about img{
    height: 250px;
}