 /* home */

 .home {
     background: url('../../../imgs/welcome.jpg');
     background-size: cover;
     display: flex;
     flex-direction: column;
     text-align: center;
     gap: 20px;
     padding: 20px;
     color: rgb(39, 38, 38);
     font-family: 'Roboto', sans-serif;
 }

 .home-wrapper {
     padding: 20px;
     border-radius: 8px;
     max-width: 600px;
     margin: auto;
 }

 .home-title {
     color: rgb(240, 240, 231);
     margin-bottom: 1vh;
     line-height: 1.5;
 }

 .home-image {
     width: 100%;
     height: auto;
 }

 .projects {
     display: grid;
     gap: 20px;
 }

 .project-wrapper {
     background-color: rgb(238, 231, 231);
     padding: 20px;
     border-radius: 25px;
     box-shadow: 16px 16px 8px rgba(0, 0, 0, 0.1);
     max-width: 600px;
     margin: auto;
     opacity: 0.75;
     transition: box-shadow 0.3s ease-in-out, opacity 0.3s ease-in-out;
     cursor: pointer;
 }

 .project-logo {
     width: 80px;
     height: auto;
     margin-bottom: 15px;
     border-radius: 50%;
 }

 .project-info h2 {
     margin-top: 0;
     margin-bottom: 1vh;
     line-height: 1.5;
 }

 .project-info h4 {
     margin-bottom: 1vh;
     line-height: 1.5;
 }

 .project-showcase {
     width: 100%;
     height: auto;
     border-radius: 15px;
 }

 .project-wrapper:hover {
     opacity: 1;
     box-shadow: 16px 16px 8px rgba(0, 0, 0, 0.2);
 }
