/*  Home  */





/*  About  */





/*  Mail  */

@media (max-width:1200px) {
    .mail-choosers1{
        display: flex;
        flex-direction: column;
    }
    
    .mail-choosers2{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width:800px) {
    
    .mail{
        flex-direction: column;
        padding-block-start: 56px;
    }

    /* .mail-choosers1{
        display: flex;
        flex-direction: row;
    }
    
    .mail-choosers2{
        display: flex;
        flex-direction: row;
    } */
}


@media (max-width:520px) {
    .mail{
        flex-direction: column;
        padding-block-start: 56px;
    }

    .mailbox-chooser{
        display: flex;
        flex-direction: column;
    }

    .main-mail {
        display: flex;
        flex-direction: column;
        height: 100%;
        box-sizing: border-box;
      }

      .mail-choosers1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .mail-choosers2{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

/* Notes  */





/* Books */