.notes-container h3 {
    text-align: left;
    margin-bottom: 1em;
    margin-top: 4em;
    color: #423d3d;
    font-size: .8875rem;
    margin-left: 2vw;
}

.notes-container {
    padding: 30px;
    margin-top: -5vh;
}

.notes-list {
    column-count: 4;
    column-gap: 10px;
    margin-bottom: 10vh;
}