
.note-creation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 2vh;
}

.note-creation select,
.note-creation input,
.note-creation textarea,
.note-creation button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}

.note-creation select:focus,
.note-creation input:focus,
.note-creation textarea:focus {
    border-color: #007bff;
}

.note-creation button {
    background-color: #007bff;
    color: #fff;
}

.note-creation button:hover {
    background-color: #0056b3;
}
