.note-page {
    background-color: #f1f3f4;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    text-align: center;
}

.note-page h1 {
    color: #202124;
    font-size: 32px;
    margin-top: 20px;
}

.notes-container h3 {
    text-align: left;
    margin-bottom: 3vh;
    margin-top: 3vh;
    color: #686767;
    font-size: .8875rem;
    margin-left: 3vw;
}

.notes-list {
    column-count: 4;
    column-gap: 10px;
    margin-bottom: 15vh;
}

/* Screen width adaptions */
@media only screen and (max-width: 1200px) {
    .notes-list {
        column-count: 3;
    }
}

@media only screen and (max-width: 800px) {
    .notes-list {
        column-count: 2;
    }
}

@media only screen and (max-width: 450px) {
    .notes-list {
        column-count: 1;
    }
}