.note-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    background: #fff;
    padding: 10px;
    border-radius: 15px;
    max-width: 500px;
    border: 1px solid transparent;
    box-shadow: 4px 4px 12px 0 rgba(60, 64, 67, 0.302), 4px 4px 12px rgba(60, 64, 67, 0.149);
}

.note-filter input,
.note-filter select {
    border: none;
    background: transparent;
    outline: none;
    font-size: 18px;
    width: fit-content;
    padding: 5px;
}