.note-creation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    background-color: #fff;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 2vh;
}

.note-creation select,
.note-creation input,
.note-creation button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
    transition: border-color 0.3s ease;
}

.note-creation select:focus,
.note-creation input:focus {
    border-color: #007bff;
}

.note-creation button {
    background-color: #007bff;
    color: #fff;
}

.note-creation button:hover {
    background-color: #0056b3;
}

.note-type-dropdown {
    position: relative;
    width: 40px;
    cursor: pointer;
}

.note-type-dropdown-header {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
}

.note-type-dropdown-options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #ccc;
    z-index: 1;
    border-radius: 10px;
    background-color: #fff;
}

.note-type-dropdown-option {
    padding: 10px;
}