.note-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    background: #fff;
    padding: 10px;
    border-radius: 15px;
    max-width: 500px;
}

.note-filter input,
.note-filter select {
    border: none;
    background: transparent;
    outline: none;
    font-size: 18px;
    width: fit-content;
}