.note-creation-wrapper {
    background-color: #fff;
    padding: 10px;
    border-radius: 15px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    border: 1px solid transparent;
    box-shadow: 4px 4px 12px 0 rgba(60, 64, 67, 0.302), 4px 4px 12px rgba(60, 64, 67, 0.149);
}

.note-creation {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
}

.note-creation select,
.note-creation input,
.note-creation button,
.note-creation-wrapper input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 1.2rem;
}

.note-creation select:focus,
.note-creation input:focus,
.note-creation-wrapper input:focus {
    background: none;
}

.input-title {
    opacity: 0.85;
}

.title-dropdown {
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: center;
}

.note-type-dropdown {
    position: relative;
    width: 40px;
    cursor: pointer;
}

.note-type-dropdown-header {
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s ease;
}

.note-type-dropdown-header:hover {
    background-color: #ccc;
}

.note-type-dropdown-options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #ccc;
    z-index: 1;
    border-radius: 10px;
    background-color: #fff;
}

.note-type-dropdown-option {
    border-radius: 10px;
    padding: 10px;
    transition: 0.3s ease;
}

.note-type-dropdown-option:hover {
    background-color: #ccc;
}

.note-creation button {
    color: #131212;
    width: fit-content;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 5px;
    background: none;
    border: none;
    transition: 0.3s;
}

.note-creation button:hover {
    background-color: #0056b3;
    color: rgb(240, 234, 234);
}