header {
    background: lightcyan;
    /* border-bottom: 2px solid white; */
}

.app-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 50px;
}

nav a {
    margin: .5em;
}

nav a:active {
    color: purple;
}

nav a.active {
    color: darkblue;
    font-weight: bold;
    text-decoration: overline;
}