header {

    background: lightcyan;
    border-bottom: 2px solid white;
}

.app-header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

nav a {
    margin: .5em;
}

nav a:active {
    color: purple;
}

nav a.active {
    color: darkblue;
    font-weight: bold;
    text-decoration: overline;
}