header {
    background: #f4f4f4;
    color: #333;
    font-family: 'Roboto', sans-serif;
}

.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    border-bottom: 1.5px solid #a8a8a8;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 1em;
}

nav a {
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

nav a:hover {
    background-color: #e0e0e0;
    color: #333;
}

nav a:active,
nav a.active-link {
    background-color: #ccc;
    color: #333;
}