.user-msg {
    background-color: lightgray;
    padding: 1em;
    position: absolute;
    top: 1em;
    right: 1em;
}

.user-msg.success {
    background-color: lightgreen;
}

.user-msg.error {
    background-color: lightpink;
}


.user-msg button{
    float: right;
    margin: 1em;
}